.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -60px;
  padding: 20px 5%;
  background: linear-gradient(to right, #f5fbff, #ffffff);
  min-height: 90vh;
  flex-wrap: wrap;
  padding-top: 110px;
}

/* LEFT SIDE */

.hero-left {
  flex: 1;
  min-width: 320px;
}



.rating-badge {
  display: inline-block;
  background: #e6f9ed;
  color: #2e7d32;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 20px;
 
}

.hero-left h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-left h3 {
  font-size: 22px;
  color: #555;
  margin-bottom: 20px;
  font-weight: 20px;
}

.hero-left p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.open-hours {
  font-weight: 500;
  margin-bottom: 25px;
}

/* BUTTONS */

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn.blue {
  background: #1976d2;
  color: white;
}

.btn.green {
  background: #2e7d32;
  color: white;
}

.btn.light {
  background: #f1f1f1;
  color: #333;
}

.btn:hover {
  opacity: 0.85;
}

/* RIGHT SIDE */

.hero-right {
  flex: 1;
  min-width: 320px;
  position: relative;
  text-align: center;
}

.hero-right img {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  margin-top: 20px;
}

/* FLOATING CARD */

.floating-card {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.floating-card span {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    padding: 60px 20px;
    padding-top: 230px;
  }

  .hero
  .hero-left h1 {
    font-size: 32px;
    margin-top: -20px;
 
  }

  .hero-left h2 {
    margin-top: -10px;
  }

  .hero-left h3 {
  margin-top: -10px;
}

.hero-left p {
 align-items: flex-start;
font-size: 20px;
}
  
  .hero-buttons {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .open-hours {
    margin-right: 0;
  }

  .floating-card {
    position: static;
    margin-top: 20px;
  }

 .rating-badge {
  position: absolute;
  font-size: 15px;
  top: 20px;
  left: 20px;
  margin-bottom: -10px;
  margin-top: 80px;
 } 

}